.commentEditForm{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    padding-bottom: 20px;
    background-color: rgb(10, 85, 39);
    max-width: 300px;
}

.commentField{
    padding: 10px 0px;
    color: white;
}

.submitComment{
    padding: 5px;
    margin: 10px;
}

.commentHeader{
    font-size: 30px;
    color: white;
}

.checkinText{
    height: 50px;
}
