.splashPage{
    /* background-image: url('../../images/Untitled_Artwork.png'); */
    background-color: rgb(16, 61, 16);
    /* padding: 20px; */
    margin: -22px auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

 .splashButtonContainer{
     display: flex;
     justify-content: right;
 }

 .splashBody{
    color: rgb(219, 223, 209);
 }


 .splashSteps {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 20px;
 }

 .splashStepsImages {
    display: flex;
    justify-content: space-between;
 }

 .splashStepsWords {
    display: flex;
    justify-content: space-between;
}


.splashNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 34, 54);
    padding: 20px;
    color: white;
}

.splashNavOne {
    display: flex;
}

.splashNavTwo {
    display: flex;
}


.splashJoin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
