.splashPage{
    /* background-image: url('../../images/Untitled_Artwork.png'); */
    /* background-color: rgb(16, 61, 16); */
    /* padding: 20px; */
    margin: -22px auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.splashHeaderImage {
    z-index: 1;
}

 .splashButtonContainer{
     display: flex;
     justify-content: right;
 }

 .splashBody{
    color: rgb(219, 223, 209);
 }


 .splashSteps {
     display: flex;
     z-index: 0;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 20px;
     margin-top: -.75vh;
     color: white;
     background-color: rgba(0,0,0,0.5);
 }

 .splashStepsImages {
    display: flex;
    justify-content: space-between;
 }

 .splashStepsImage {
     width: 30%;
     height: 30%;
 }

 .up {
     margin-top: -25px;
 }

 .splashStepsWords {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.splashStepsWord {
    font-size: 2rem;
    margin: 1vh 12vw;
}


.splashNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 34, 54);
    padding: 20px;
    color: white;
}

.splashNavOne {
    display: flex;
}

.splashNavTwo {
    display: flex;
}


.splashJoin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh;
    background: linear-gradient(rgb(72, 158, 72), rgb(7, 37, 7));
    color: white;
    font-size: 50px;
}

p {
    margin: 0px;
    padding: 0px;
}

.splashJoinWords {
    margin: 0px;
    padding: 0px;
}

.untokd {
    font-weight: 600;
    border-bottom: solid 2px white;
    width: 30%;
    text-align: center;
}
