.feedLayout{
    display: inline-flex;
    flex-direction: column;
}

.sideBar{
    display: flex;
    flex-direction: column;
    background-color: rgb(166, 216, 162, 0.6);
    border: 1px solid rgb(9, 94, 47);
    border-radius: 5px;
    padding: 10px;
    height: fit-content;
    width: 20%;
    margin-top: 10px;
    margin-right: 10px;
}

.strainList{
    font-size: 15px;
}

.favoriteStrain {
    padding: 10px;
    margin: 5px;
    background-color: rgb(9, 94, 47);
    color: rgb(219, 223, 209);
    border: none;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.strainDesText{
    padding: 10px;
}

.strainDescriptions{
    background-color: rgb(219, 223, 209);
    padding: 10px;
    /* border-radius: 5px; */
}

#feedParts {
    background-color: rgb(116, 168, 112);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: auto;
    width: 80%;
    /* border-bottom: 1px solid green; */
}

/* #checkinText {
    /* border-bottom: 1px solid rgb(4, 68, 4); */


.welcome {
    font-size: 15px;
    padding: 5px;
    border-bottom: 1px solid green;
}

.strainHeader {
    border-bottom: 2px solid green;
    padding-bottom: 5px;
}

.feedButtons{
    display: flex;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid green;
}

#checkinButtons{
    display: flex;
    margin-left: auto;
}

#deleteButton, #editButton, #commentButton {
    padding: 5px 10px;
    margin: 0px 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(219, 223, 209);
    /* image: url('../../images/Untitled_Artwork\ \(2\).png') */
}

#deleteButton:hover, .commentDelete:hover {
    background-color: rgb(202, 6, 6);
    color: rgb(219, 223, 209);
    box-shadow: 0px 0px 2px black;
}

#editButton:hover, .submitComment:hover, #commentButton:hover {
    background-color: rgb(19, 107, 48);
    color: rgb(219, 223, 209);
    box-shadow: 0px 0px 2px black;
}

#strainButtons{
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    color: rgb(219, 223, 209);
    background-color: rgb(9, 94, 47);
    border: none;
    border-radius: 5px;
}

#strainButtons:hover {
    background-color: rgb(19, 107, 48);
    box-shadow: 0px 0px 2px black;
}

.strainDescriptionContainer{
    border-radius: 5px;
    background-color: rgb(219, 223, 209);
}

.commentForm{
    margin: 10px 5px;
}

.commentBody{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(19, 107, 48,0.25);
}

.commentDelete, .submitComment {
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(219, 223, 209);
}
