.feedLayout{
    display: inline-flex;
    flex-direction: column;
}

.sideBar{
    display: flex;
    flex-direction: column;
    background-color:rgb(166, 216, 162);
    border: 1px solid rgb(9, 94, 47);
    border-radius: 5px;
    padding: 10px;
    height: fit-content;
    width: 20%;
    margin-top: 10px;
    margin-right: 10px;
}

.strainList{
    font-size: 15px;
}

#feedParts {
    background-color: rgb(166, 216, 162);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: auto;
    width: 80%;
    /* border-bottom: 1px solid green; */
}

/* #checkinText {
    /* border-bottom: 1px solid rgb(4, 68, 4); */


.welcome {
    font-size: 15px;
    padding: 5px;
    border-bottom: 1px solid green;
}

.strainHeader {
    border-bottom: 2px solid green;
    padding-bottom: 5px;
}

.feedButtons{
    display: flex;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid green;
}

#checkinButtons{
    display: flex;
    margin-left: auto;
}

#deleteButton, #editButton, #commentButton {
    padding: 5px 10px;
    margin: 0px 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(219, 223, 209);
}

#deleteButton:hover {
    background-color: rgb(202, 6, 6);
    color: rgb(219, 223, 209);
    box-shadow: 0px 0px 2px black;
}

#editButton:hover {
    background-color: rgb(19, 107, 48);
    color: rgb(219, 223, 209);
    box-shadow: 0px 0px 2px black;
}

#commentButton:hover {
    background-color: rgb(19, 107, 48);
    color: rgb(219, 223, 209);
    box-shadow: 0px 0px 2px black;
}

#strainButtons{
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    color: rgb(219, 223, 209);
    background-color: rgb(9, 94, 47);
    border: none;
    border-radius: 5px;
}

#strainButtons:hover {
    background-color: rgb(19, 107, 48);
    box-shadow: 0px 0px 2px black;
}

.strainDescriptionContainer{
    border-radius: 5px;
    background-color: rgb(219, 223, 209);
}
