.signUpForm{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    padding-bottom: 20px;
    background-color: rgb(10, 85, 39);
    width: 100%;
}

#signUpField{
    padding: 10px 0px;
    color: white;
}

#signUpButton{
    padding: 5px;
    margin: 10px;
}

#signUpHeader{
    font-size: 30px;
    color: white;
}

.ownerButtons {
    margin: 20px 0px 10px 0px;
    color: white;
    display: flex;
    justify-content: space-around;
}

.ownerButton {
    margin-right: -40px;
}
